.name-color{
    font-weight:bold;
    color: #FABE4C;
}
h1{
    font-size: 50px;
    color:#363959;
    font-weight: bold;
}
h5{
    font-size: 30px;
    color:#363959;
    font-weight:bold;
}
p{
    color:#3E3E3E;
    font-size: 20px;  
    font-weight: bold;
}
.nav-li a {
padding-left:10px;
font-weight:700;
color:#3A3B3B;
}
.logo-img img {
width:200px;
}
.top-area {
margin-top:70px;
}
.product-area{
    margin-top:80px;
}
.card{
    margin-top:30px;  
    padding:20px ;
    
}
.card img{
    height: 380px;
    width: 320px;
    box-sizing:border-box;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 10px 20px;
 
}
.first-section{
    display: flex;
    box-shadow :20px 30px 30px 20px #FBFBFB ;
    border-radius:20px;
    margin-top: 20px;
    padding: 20px 20px;  
    
     }
.first-section img{
    height: 100px;
    padding: 10px 30px;  
}
.card-area{
border: none;
background-color:#FFFFFF ; 
border-radius: 15px; 
box-shadow :10px 10px 10px 10px #FBFBFB ;
}

.second-section img{
    width:100%;
    padding-top:30px;
}
.bg-style{
   margin-top:50px;
}
